<ul class="product-list">
    <li class="product-list__item">
        <img src="http://media.contorion.de/media/images/products/festool-magazinvorsatz-af-55-dwc-60302700-0-kOXcOQw4-l.jpg"
             alt="Festool Magazinvorsatz AF 55-DWC">
        <div class="product-list__item-description">
            <a href="#">
                <h4>Festool Magazinvorsatz AF 55-DWC</h4>
            </a>
            <h6 class="truncate-text">
                Art.-Nr. <span class="js-sku">60302700</span>
            </h6>
        </div>
        <div class="product-list__price">
            <div class="product-widget__prices relative ">
                <p class="">126,13 €</p>
                <h6>exkl. MwSt.</h6>
            </div>
        </div>
        <div class="product-list__add-to-cart">
            <a href="#" class="button">Add To Cart</a>
        </div>
    </li>
    <li class="product-list__item">
        <img src="http://media.contorion.de/media/images/products/festool-akku-bohrschrauber-cxs-li-2-6-plus-85660788-0-07ogKcV5-l.jpg"
             alt="Festool Akku-Bohrschrauber CXS Li 2,6-Plus">
        <div class="product-list__item-description">
            <a href="#">
                <h4>Festool Akku-Bohrschrauber CXS Li 2,6-Plus</h4>
            </a>
            <h6 class="truncate-text">
                Art.-Nr. <span class="js-sku">85660788</span>
            </h6>
        </div>
        <div class="product-list__price">
            <div class="product-widget__prices relative ">
                <p class="">162,75 €</p>
                <p class="subtext">exkl. MwSt.</p>
            </div>
        </div>
        <div class="product-list__add-to-cart">
            <a href="#" class="button">Add To Cart</a>
        </div>
    </li>
</ul>
