<span class="badge badge--small">1</span>

<span class="badge">10</span>

<span class="badge badge--success">20</span>
<span class="badge badge--warning">30</span>
<span class="badge badge--error">40</span>

<span class="badge badge-icon">
    <span class="fa fa-chevron-left fa-fw"></span>
</span>

<span class="badge badge--medium badge--success">1234</span>

<span class="badge badge--large badge--warning">12345</span>

<span class="inverted-button badge--new-offer">NEU</span>
<span class="inverted-button badge--highlight-offer">ANGEBOT</span>
<span class="inverted-button badge--accessory">
    <span class="fa fa-plus"></span>
    ZUBEHOR
</span>
