.product-list__item {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid #ccc;
}
.product-list__item img {
    margin-right: 1rem;
    width: 75px;
    height: 75px;
}
.product-list__item h4 {
    margin: 0;
}

.product-list__item-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 3;
}

.product-list__item-description h6 {
    color: #999;
}

.product-list__price {
    font-family: "Teko", sans-serif;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: 1;
    color: #60b0ff;
 }

.product-list__add-to-cart {
    flex: 1;
}
